.Banner{
    background-color: rgba(9, 37, 94, 0.986);
    min-height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 3vmin);
    color: rgb(255, 255, 255);
}